@font-face {
  font-family: 'Inter';
  src: url('https://rsms.me/inter/inter.css');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('https://rsms.me/inter/inter.css');
  font-weight: bold;
}