.photo-grid{
  margin: 92px auto 0;
  max-width: 1184px;
  width: calc(100% - 96px);
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 480px) {
  .photo-grid {
    width: calc(100% - 32px);
  }
}