.lead{
  margin: 54px auto 0;
  padding: 0;
  width: calc(100% - 296px);
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}