.content__cover {
  margin-top: 91px;
  margin-bottom: 95px;
}

@media screen and (max-width: 1024px) {
  .content__cover {
    margin-top: 86px;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .content__cover {
    margin-top: 66px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 480px) {
  .content__cover {
    margin-bottom: 64px;
    margin-top: 66px;
  }
}


