.footer__author {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

@media screen and (max-width: 480px) {
  .footer__author {
    line-height: 14px;
  }
}
