.footer__link-item {
  margin-right: 18px;
  padding: 0;
}

.footer__link-item:last-child {
  margin: 0;
}

@media screen and (max-width: 750px) {
  .footer__link-item {
    margin: 0 0 32px 0;
  }
}
