.place__paragraph {
   font-family: 'Inter', sans-serif;
   font-size: 18px;
   line-height: 29.34px;
   font-weight: 400;
   padding-bottom: 26px;
   margin: 0;
   color: #ffffff;
}

.place__paragraph:last-child {
   padding-bottom: 0;
}

@media screen and (max-width: 425px) {
   .place__paragraph {
      font-size: 16px;
      line-height: 26.08px;
      padding: 0 16px 25px 16px;
   }
}

@media (min-width: 426px) and (max-width: 768px) {
   .place__paragraph {
      font-size: 16px;
      line-height: 26.08px;
      }
}