.lead__image {
  margin: 64px auto 0;
  padding: 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 480px) {
  .lead__image {
    margin-top: 40px;
  }
}