.intro{
  margin: 92px auto 0;
  width: calc(100% - 296px);
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 480px) {
  .intro {
    width: calc(100% - 32px);
  }
}