.lead__subtitle{
  max-width: 640px;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  margin: 32px auto 0;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}


@media screen and (max-width: 480px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 40px;
  }
}