.place__link {
   font-family: 'Inter', sans-serif;
   font-size: 18px;
   line-height: 22px;
   font-weight: 400;
   margin: 0;
   padding: 0;
   color: #ffffff;
   transition: 0.3s;
}

.place__link:hover {
   opacity: 0.8;
}
