.lead__caption{
  margin-top: 8px;
  margin-bottom: 0;
  padding: 0;
  font-family: "Inter", "Arial ", sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 480px) {
  .lead__caption {
    margin-left: 16px;
  }
}