.place {
   width: 100%;
   padding: 0;
   margin-bottom: 80px;
   display: grid;
   grid-template-columns: 460px 1fr;
   column-gap: 40px;
   row-gap: 48px;
}

@media screen and (max-width: 1270px) {
   .place {
      grid-template-columns: 1fr 1fr;
      column-gap: 32px;
   }
}

@media screen and (max-width: 1024px) {
   .place {
      grid-template-columns: 440px 1fr;
   }
}

@media screen and (max-width: 1000px) {
   .place {
      grid-template-columns: 400px 1fr;
   }
}

@media screen and (max-width: 900px) {
   .place {
      grid-template-columns: 360px 1fr;
      column-gap: 28px;
   }
}

@media screen and (max-width: 768px) {
   .place {
      grid-template-columns: 340px 1fr;
      margin-bottom: 73px;
   }
}

@media screen and (max-width: 720px) {
   .place {
      grid-template-columns: 300px 1fr;
   }
}

@media screen and (max-width: 690px) {
   .place {
      grid-template-columns: 230px 1fr;
   }
}

@media screen and (max-width: 640px) {
   .place {
      grid-template-columns: 210px 1fr;
   }
}

@media screen and (max-width: 600px) {
   .place {
      grid-template-columns: 1fr;
      column-gap: 0;
      margin-bottom: 50px;
   }
}

.place:last-of-type {
   padding-bottom: 0;
}