.intro__title{
  font-weight: 900;
  font-style: normal;
  font-size: 54px;
  line-height: 107%;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    margin-bottom: 41px;
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}